* {
  margin: 0;

}


$primary: #000000;



.navbar {
  background-color: darken($primary, 0%);

  .nav-link {
    cursor: pointer;
    color: rgb(219, 215, 215);
  }
}



.form-page {
  form {
    background: #d1cfcf;
    padding: 40px;
    border-radius: 18px;

    label {
      font-size: 0.9rem;
    }

    input {
      width: 100%;
      margin-bottom: 15px;
      border: none;
      padding: 5px;
    }

    small {
      display: block;
      margin-bottom: 15px;
    }
  }
}